* {
    /* background-color: #EFF2F4; */
}
.layout {
  padding: 0;
  border: 0;
  border-radius: 5px;
  background: #f6f6f6;
  -webkit-box-shadow: 0 35px 20px #c9c9c9;
  -moz-box-shadow: 0 35px 20px #c9c9c9;
  box-shadow: 0 35px 20px #c9c9c9;
}
.widget {
  padding: 10px 20px;
  margin: 0;
  background: #ccc;
}
.coloverride {
  -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
