<!doctype html>
<html ng-app="contactList" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact List</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="css/contactList.css">
  <!-- Include main CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-route.min.js"></script>
  <script src="script/contactList.js"></script>
</head>
<body>
  <div class="container" ng-controller="ContactController">
    <div class="row p-5">
      <div class="col-7 layout widget">
        <div class="row justify-content-center">
          <div class="col-10 pl-5 text-center">
            <h5>Contacts</h5>
          </div>
          <div class="col-2 text-right">
            <a href="javascript:void(0)" ng-hide = "hidePlus" ng-click = "showContent();" ><i class="fas fa-plus"></i></a>
            <a href="javascript:void(0)" ng-hide = "hideMinus" ng-click = "hideContent();" ><i class="fas fa-minus"></i></a>
          </div>
        </div>
        <form ng-show = "showVisible" name="formContact" class="needs-validation" enctype="multipart/form-data" ng-submit="createContact(contactinfo);">
          <div class="row m-3">
            <div class="col-4">
              <div class="input-group mb-3">
                <label for="name">First Name :</label>
              </div>
              <div class="input-group mb-3">
                <label for="name">Last Name :</label>
              </div>
              <div class="input-group mb-3">
                <label for="phone">Phone No:</label>
              </div>
            </div>
            <div class="col-8">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="First Name" name="firstName" ng-model="contactinfo.firstName" required>
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Last Name" name="lastName" ng-model="contactinfo.lastName" required>
              </div>
              <div class="input-group mb-3">
                <input type="tel" class="form-control" placeholder="Phone Number" name="phone" ng-model="contactinfo.phone" required>
              </div>
            </div>
          </div>
          <div class="">
            <input type="submit" class="btn btn-primary btn-sm" name="Add" value="{{butn}}">
          </div>
        </form>
        <div class="my-2" ng-show = "IsVisible">
          <div class="input-group">
            <span class="input-group-append">
              <button class="btn btn-outline-secondary border-right-0 border" type="button">
                    <i class="fa fa-search"></i>
              </button>
            </span>
            <input class="form-control py-2 border-left-0 border" type="search" ng-model="name">
        </div>
          <!--   Table    -->
          <div class="table-wrapper-scroll-y my-custom-scrollbar mt-3">
            <table class="table table-hover">
              <tbody ng-repeat="singleData in allData | filter : name">
                <tr data-ng-click="contactDetails(singleData);" ng-hide = "singleData.contactName">
                  <td>{{ singleData.firstName }}</td>
                  <td>{{ singleData.lastName }}</td>
                </tr>

                <tr data-ng-dblclick="actionDetails(singleData);" ng-show = "singleData.contactAction">
                  <td><button data-ng-click="editDetails(singleData);" class="btn btn-primary btn-sm px-3"><i class="fas fa-pen-square" aria-hidden="true"> Edit</i></button></td>
                  <td><button data-ng-click="deleteDetails(singleData.id);" class="btn btn-danger btn-sm px-3"><i class="fas fa-minus-circle" aria-hidden="true"> Delete</i></button></td>
                </tr>
              </tbody>
            </table>
          </div>
        <!-- Table End -->
        </div>
      </div>
    </div>
  </div>
</body>
</html>
