<!doctype html>
<html ng-app="contactList" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact List</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="css/contactList.css">
  <!-- Include main CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-route.min.js"></script>
  <script src="script/contactList.js"></script>
</head>
<body>
  <div class="container" ng-controller="ContactController">
    <div class="row p-5">
      <div class="col-7 layout widget">
        <div class="row justify-content-center">
          <div class="col-10 pl-5 text-center">
            <h5>Contacts</h5>
          </div>
          <div class="col-2 text-right">
            <a href="javascript:void(0)" ng-hide = "hidePlus" ng-click = "showContent();" ><i class="fas fa-plus"></i></a>
            <a href="javascript:void(0)" ng-hide = "hideMinus" ng-click = "hideContent();" ><i class="fas fa-minus"></i></a>
          </div>
        </div>
        <form ng-show = "showVisible" name="formContact" class="needs-validation" enctype="multipart/form-data" ng-submit="createContact(contactinfo);">
          <div class="row m-3">
            <div class="col-4">
              <div class="input-group mb-3">
                <label for="name">First Name :</label>
              </div>
              <div class="input-group mb-3">
                <label for="name">Last Name :</label>
              </div>
              <div class="input-group mb-3">
                <label for="phone">Phone No:</label>
              </div>
            </div>
            <div class="col-8">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="First Name" name="firstName" ng-model="contactinfo.firstName" required>
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Last Name" name="lastName" ng-model="contactinfo.lastName" required>
              </div>
              <div class="input-group mb-3">
                <input type="tel" class="form-control" placeholder="Phone Number" name="phoneNumber" ng-model="contactinfo.phoneNumber" required>
              </div>
            </div>
          </div>
          <div class="">
            <input type="submit" class="btn btn-primary btn-sm" name="Add" value="Add">
          </div>
        </form>
        <div class="my-2" ng-show = "IsVisible">
          <p><input type="search" ng-model="name"></p>
          <!--   Table    -->
          <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-hover">
              <!-- <thead>
                <tr>
                  <th scope="col">S.No</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Phone No.</th>
                  <th scope="col">Action</th>
                </tr>
              </thead> -->
              <tbody ng-repeat="singleData in allData | filter : name">
                <tr data-ng-init="btnId = singleData.id;">
                  <!-- <th scope="row">{{ singleData.id }}</th> -->
                  <td data-ng-attr-id="btnId" data-ng-click="contactDetails(btnId)" ng-show = "contactName">{{ singleData.firstName }}</td>
                  <td>{{ singleData.lastName }}</td>
                </tr>

                <tr>
                  <!-- <td>{{ singleData.phone }}</td> -->
                  <td ng-hide = "contactAction"><span><i class="fas fa-pen-square"></i></span><span><i class="fas fa-minus-circle btn-danger"></i></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        <!-- Table End -->
        </div>
      </div>
    </div>
    <div class="row">

    </div>
  </div>
</body>
</html>
